.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.homepage-title--alt2 {
  font-size: 1.8em;
  margin: 0.2em 0px 0.6em;
  color: #F9557A;
  font-weight: bold;
}
.color-langues {
  color: #D43B3B;
}

.roll-over{
  visibility: hidden;
}
.border-text:hover .roll-over{
  visibility: visible;
}
h2 {
  font-size: 20px;
  font-family: "Montserrat",sans-serif;
  text-transform: uppercase;
}

img {
  height: 200px;
  width: 250px;
  object-fit: cover;
  }

h6 {
  font-weight: bold;
}


.border-text {
  border-bottom: 1.2px solid #F9557A;
}

.homepage-descrip {
  font-size: 1.2em;
  line-height: 1.5em;
  color: #666;
  font-style: italic;
  margin: 0px 0px 4em;
}
p {
  font-family: Georgia,Cambria,"Times New Roman",Times,serif;
  color: #444;
}
#section-apprendre {
  margin: 20px;
  padding-top: 2em;
}
